{% extends 'shop/base.html' %}

{% block content %}
<div class="container contact-page-padding">
    <h1 class="section-title">{{ product.name }}</h1>

    <div class="product-detail-layout">
        <div class="product-detail-column">
            <div class="product-detail-image-placeholder">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <span>Зображення товару</span>
                {% endif %}
            </div>
        </div>
        <div class="product-detail-column">
            <h2>Опис</h2>
            <p>{{ product.description }}</p>
            <h3 class="product-detail-price">Ціна: {{ product.price }} грн</h3>
            <div class="product-detail-actions">
                <a href="{% url 'shop:contact' %}" class="btn-primary">Зв'язатися</a>
                {# <a href="#" class="btn-secondary">Схожі товари</a> #}
            </div>
        </div>
    </div>

</div>
{% endblock %}